* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-home {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column; 
    margin: 0 auto;
    height: 100vh; 
    width: 100vw;
}

.top {
    background-color: #F29441;
    padding: 20px; 
    text-align: left; 
    width: 100%;
    top: 0; 
}

.logoImage{
    width: 20%;
    height: 100%;
}

.banner{
    margin: 1em;
}

.bannerImage {
    width: 100%; 
    height: auto; 
    border-radius: 10%;
}
.sectionTitle{
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: 1em;
}

.title {
    color: #000000; 
    font-size: 1.5em; 
    font-weight: 600; 
    padding: 0.2em 0.5em; 
    background-color: #D9320D;
    border-radius: 10px;
    display: inline-block;
}

.seeMore{
    color: #8C031C;
    font-weight: 600;
}

.foodRating{
    display: flex;
    justify-content: row;
    color: #fff;
    margin-left: 1rem;
}

.star{
    width: 15%;
    height: 10%;
}

.foodCard{
    background-color: #F2A2A2;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em;
    width: 40%;
    border-radius: 10%;
}

.foodCardImg{
    width: 100%;
    height: auto;
    border-radius: 10%;
}

.foodInfo{
    margin-left: 1rem;
}

.price{
    display: flex;
    justify-content: center;
    background-color: #FF0004;
    border-radius: 10px;
    color: #fff;
}


.tabs {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    background-color: #fff; 
    border-top: 1px solid #ddd;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
    z-index: 100; 
}

.nav {
    display: flex;
    justify-content: space-around; 
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.nav-item {
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: #333; 
    font-weight: 600;
}
